@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    --principal: #FA7921;
    --hover: #fac721;
    --texto:#2b2b2b;
    --fondo: #f5f5f5;
    --secundario: #012f47;
    --titulos: black;

    --fuente-principal: 'Montserrat';

}

*{
    box-sizing: border-box;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/*Estilos cabecera transparente*/

#header{

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    height: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 3%;
    padding-right: 3%;
    
}

#logo{

    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo > img{

    width: 90%;
    height: auto;

}

#mainmenu{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    font-size: 90px;
    height: 100%;
}

#mainmenu a{

    color: white;
    font-family: var(--fuente-principal);
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}


#mainmenu #userpic{

    font-size: 0.5em;
    height: 50%;
    width: 1em;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/user.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#hamburger-menu{

    display: none;
}

/*Estilos cabecera sticky*/

#header.sticky{

    position: fixed;
    background-color: var(--secundario);
    z-index: 3;


    transition: ease 0.3s;

}

/*Estilos div viewport inicio*/

#vpinicio{
    
    min-height: 100vh;
    height: auto;
    background-image: url('../images/barber.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(44, 42, 42, 0.586);
    background-blend-mode:overlay;

    box-sizing: border-box;

    display: flex;
 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 90px;
    padding-right: 7%;
    padding-left: 7%;
    

}

.titulo-principal{

    font-family: var(--fuente-principal);
    font-size: 4em;
    font-weight: 500;
    color: white;
    max-width: 70%;
    margin-top: 100px;

}

.contenedor-botones-inicio{

    margin-top: 4em;
    margin-bottom: 7em;
    


}

.botones-inicio{

    padding: 1em;
    background-color: var(--principal);
    color: black;
    font-size: 1.1em;
    font-family: var(--fuente-principal);
    font-weight: 500;
    border-radius: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.botones-inicio:hover{

    background-color: var(--hover);
    transition: 0.7s ease;

}

/*Estilos de la primera sección*/


#seccion-buscar{

    background-color: rgb(236, 236, 236);
    padding: 10em;
    display: grid;
    grid-template-areas: "titre titre titre" "bar bar bar" "un deux trois";
    column-gap: 6em;

    box-shadow: inset 0px 0px 6px 2px rgb(112, 112, 112);

}

#seccion-buscar>h2{

    color: black;
    font-size: 2.9em;
    font-family: var(--fuente-principal);
    font-weight: 500;
    text-align: center;
    grid-area: titre;

}

/*Contenedor con el input de busqueda*/

.contenedor-buscador{

    grid-area: bar;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-buscador{

    background-color: rgba(0, 0, 0, 0.548);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 40px;
}

#buscador{

    outline:none;
    border: none;
    font-size: 1.1rem;
    font-family: var(--fuente-principal);
    background-color: white;
    margin-right: 0.9em;
    padding: 0.5em;
    padding-right: 1.9em;
    padding-left: 1.9em;
    border-radius: 20px;
    width: 23em;

}

.overlay-buscador button{

    border: none;
    background-color: var(--principal);
    padding: 0.7em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    border-radius: 20px;
}

.overlay-buscador button img{

    width: 1.4em;
    height: auto;

}

.overlay-buscador button:hover{

    background-color: var(--hover);
    transition: 0.7s ease;
}



/*Tres bloques*/

.contenedor-servicio{

    grid-area: un;
}

.contenedor-persona{

    grid-area: deux;

}

.contenedor-ubicacion{

    grid-area: trois;

}

/*Contenedor cuadrado perfecto*/

.contenedor-tipo-busqueda{

    background-color: white;
    position: relative;
    box-shadow: 0px 0px 6px 2px gray;
    border-radius: 20px;
}

.contenedor-tipo-busqueda:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  /*Bloque del contenido del cuadrado*/
  
.contenedor-tipo-busqueda .contenido{

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }
.contenedor-tipo-busqueda .contenido img{

    width: 30%;

}

.contenedor-tipo-busqueda .contenido h3{

    color: black;
    font-family: var(--fuente-principal);
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 0.7em;
    max-width: 100%;
    text-align: center;

}
.contenedor-tipo-busqueda .contenido p{

    color: black;
    font-family: var(--fuente-principal);
    font-size: 1em;
    font-weight: 500;
    margin-top: 0.7em;
    max-width: 100%;

}

/*Estilos del footer*/

.footer{

    background-color: var(--texto);
    width: 100%;
    display: grid;
    grid-template-areas: " c1 c1 c2 c2 c2 c3 c3" "cr cr cr cr cr cr cr";
    padding: 2em;
}

.cajaf1{

    grid-area: c1;

}

.cajaf1 img{
 
    width: 60%;

}

.cajaf2{

    grid-area: c2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cajaf2 p{

    font-family: var(--fuente-principal);
    color: white;
    font-size: 0.9em;
    text-align: left;
}

.cajaf3{

    grid-area: c3;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cajaf3 h4{

    font-family: var(--fuente-principal);
    color: white;
    font-weight: 500;
    font-size: 1.1em;

}

.cajaf3 .redes{

    display: flex;
    justify-content: center;

}

.cajaf3 img{

    width: 7%;
    filter: invert(99%) sepia(6%) saturate(405%) hue-rotate(284deg) brightness(117%) contrast(100%);
    margin: 0.6em;
}


.footer-bajo{

    grid-area: cr;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-bajo>p{

    font-family: var(--fuente-principal);
    color: white;

}


/*Media Queries*/

@media screen and (max-width: 1182px){

    .contenedor-tipo-busqueda .contenido p{

        font-size: 0.85em;
        
    }


}

@media screen and (max-width: 1112px){

    .contenedor-tipo-busqueda .contenido p{

        font-size: 0.8em;
        
    }

    #seccion-buscar{

        column-gap: 3em;
    
    }


}

@media screen and (max-width: 1050px){

    .titulo-principal{

        font-size: 3.2em;


    }


}

@media screen and (max-width: 1022px){

    .cajaf1 img{

        width: 72%;

    }


}

@media screen and (max-width: 990px){

    #seccion-buscar{

        padding-left: 5em;
        padding-right: 5em;

    }

    #logo{

        width: 30%;

    }

}

@media screen and (max-width: 910px){

    .footer{

        font-size: 13px;

    }

}


@media screen and (max-width: 837px){

    #seccion-buscar{

        padding-top: 5em;
        padding-bottom: 5em;

    }

    #seccion-buscar h2{

        font-size: 2.5em;

    }

    .contenedor-botones-inicio{
        margin-top: 4em;
    }

}

@media screen and (max-width: 817px){

    #seccion-buscar{

        padding-left: 2em;
        padding-right: 2em;

    }

}